body {
    background-image: url(fundo\ preto.jpeg);
    background-repeat: no-repeat;
    background-size: 500%;
    margin-bottom: 200px;
    

    }

.cabeçalho {
    display: flex;
    justify-content: center;
    color: rgb(0, 4, 255);
    margin-top: 20px;
    font-size: 150%;
    }

.imagens {



    
}

